        <!-- jQuery first, then Popper.js, then Bootstrap JS, then my files -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="js/user-data.js"></script>
        <script src="/js/db.js"></script>
        <script src="/js/dom-items.js"></script>
        <script src="/js/dom-conduction.js"></script>
        <script src="/js/dom-convection.js"></script>
        <script src="/js/dom-heatup.js"></script>
        <script src="/js/dom-processload.js"></script>
        <script src="/js/dom-radiation.js"></script>
    </body>
</html>